<body>
    <div class="login-box">
        <h2>STUDENT LOGIN</h2>
        <form #loginForm=ngForm (ngSubmit)="loginUser()">
            <!-- checkLogin(loginForm) -->
            <div class="user-box">
                <input type="text" name="uemail" required [(ngModel)]="loginuser.studentEmail" required>
                <label for="uemail"><b>Email ID</b></label>
            </div>
            <div class="user-box">
                <input type="password" name="psw" required [(ngModel)]="loginuser.studentPassword" required>
                <label for="psw"><b>Password</b></label>
            </div>

            <button type="submit" value="submit" [disabled]="loginForm.form.invalid">Submit</button>
            <!-- <a routerLink="/userDash">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Submit
            </a> -->

            <!-- <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label> -->

            <!-- <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div> -->
        </form>
    </div>
</body>