
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<!--<a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
								</a>-->

							<!-- Nav -->
								<!--<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>-->

	

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>INSTRUCTIONS</h1>
							<!--<span class="image main"><img src="images/pic13.jpg" alt="" /></span>-->
							<p> 1. Make sure you have a stable internet connection</p>
							<p>2. The questions will be of MCQ type</p>
							<p>3. You will be allotted specific timeframe for attended the questions</p>
                            <p>4. If you do not submit the test in the allotted time it will be autosubmitted</p>
							<p>5. Make sure you do not keep mobiles phones near you</p>

						</div>
					</div>

					<div id="extra">
						<br>
						<p><strong style="font-size: 20px;">Tick the checkbox to proceed with test</strong></p><br>
                        
						<input type="checkbox" id="test" name="test" value="test" required>
						<label for="test" class="test">I am ready to start the test</label><br>
						<br>
						<br>
						<br>
						<div class="button-label">
						
						
						<!-- <a routerLink="/examPage">Start</a> -->
						<button color="primary" (click)="goToPage('examPage')">START</button>
						<!-- <button  disabled (click)="goToPage('examPage')">START</button> -->
					  </div>

